.body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}


.nav-link {
  position: relative;
  transition: color 0.3s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #2563eb;
  transition: width 0.3s ease;
}

.nav-link:hover {
  color: #2563eb;
}

.nav-link:hover::after {
  width: 100%;
}
