

.search-box {
  background: white;
  padding: 20px;
  
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.tab {
  border: none;
  background: #f2f2f2;
  padding: 8px 20px;
  margin: 0 3px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.tab.active {
  background: #1e88ff;
  color: white;
}

.form-row {
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
  flex-wrap: wrap; /* 👈 yeh add karein */
}


.input-icon {
  display: flex;
  align-items: center;
  background: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 8px 10px;
  flex: 1;
  min-width: 150px;
}

.input-icon input {
  border: none;
  outline: none;
  background: transparent;
  margin-left: 8px;
  font-size: 14px;
}

.search-btn {
  background: #1e88ff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  width: 100%;
}
